@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1>Repeater Council</h1>
    <p>The Arkansas Repeater Council coordinates amateur radio repeater frequencies. We utilize available data from our own database, as well as information from surrounding states. We use our own standards and guidelines as well as those of the Mid-America Coordination Council.</p>
</div>
<div class="text-center">
    <div>382 active coordinated repeaters</div>
    <div>
        694
        coordinations automatically processed on this site
    </div>
    <div>
        12 days
        average time to coordinate a repeater
    </div>
</div>
<div>
    Number of repeaters with current records:<br />
    97.6%
</div>
<div>
    <h3>Expired most wanted</h3>
    <p>These repeaters have expired their coordination. If you know anything that may lead to the updating of this record, please contact us or the repeater owner.</p>
</div>
<div>
    <ul>
    <li>NA0D (444.2)<br />
            - Oklahoma coordinator approved on Aug 22 2024 2:51PM. Note: Nearest Co-channel in Antlers at 223 Mi.
        </li><li>N5LSN (442.7)
        <br />
            - Status was changed from `Under construction` to `Operational`
        </li>
        <li>
            N5LSN (442.7)
        <br />
            - Status was changed from `Under construction` to `Operational`
        </li>
        <li>
            KG5VJO (920.7)
        <br />
            - RepeaterCallsign was changed from `N5EWC` to `Kg5vjo`<br />
            - TrusteeCallsign was changed from `N5EWC` to `KG5VJO`<br />
            - Autopatch was changed from `` to `None`
        </li>
        <li>
            N5LSN (442.7)
        <br />
            - Status was changed from `Under construction` to `Operational`
        </li>
    </ul>
</div>